<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatCard.Common.Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DatCard.Common.Logger.Properties.Settings>
            <setting name="LogFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLowerLimit" serializeAs="String">
                <value>Information</value>
            </setting>
            <setting name="ProcessName" serializeAs="String">
              <value />
            </setting>
        </DatCard.Common.Logger.Properties.Settings>
    </applicationSettings>
</configuration>