<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="DatCard.Applications.DCSView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="DatCard.Applications.DCSView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections> 
 <applicationSettings>
  <DatCard.Applications.DCSView.Properties.Settings>
   <setting name="DCSView_ImageSort" serializeAs="String">
    <value>0</value>
   </setting>
  </DatCard.Applications.DCSView.Properties.Settings>
 </applicationSettings>
 <userSettings>
  <DatCard.Applications.DCSView.Properties.Settings>
   <setting name="ApplyPresentationStates" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="XMLPresetsName" serializeAs="String">
    <value>WindowLevelPresetsDefault.xml</value>
   </setting>
   <setting name="DCSLogLevel" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="UseImageWLIfMissingFromPS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UseImageTransFormationLUT" serializeAs="String">
    <value>False</value>
   </setting>
  </DatCard.Applications.DCSView.Properties.Settings>
 </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
