venv/
__pycache__/
*.db
*.zip
*.jpg
*.png
*.json
!osint-agent.code-workspace
tiles_temp/
*.xlsx
*.xls
*.ods
*.docx
*.pdf
*.bak
*.log
Makaveli_Conversation_Log.jsonl
Makaveli_Conversation_Log.jsonl

ag_mission_backup.jsonl
opencode_session_*.html
*.html
/uploads/
/tablet_documents/
/tablet_files/
