Flask>=3.0.0
markdown>=3.5.1
google-cloud-bigquery>=3.13.0
gunicorn>=21.2.0
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
pandas
streamlit
playwright
PyMuPDF
Pillow
